USE [master]
GO
/****** Object:  Database [Climate_model]    Script Date: 8/26/2025 5:47:50 PM ******/
CREATE DATABASE [Climate_model]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Mio', FILENAME = N'C:\SQLData\Mio.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Mio_log', FILENAME = N'C:\SQLData\Mio_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Climate_model].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Climate_model]
GO
/****** Object:  Table [dbo].[desviaciones_indicadores]    Script Date: 8/26/2025 5:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[desviaciones_indicadores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[registro_diario_indicador_id] [int] NULL,
	[diferencia_absoluta] [decimal](18, 2) NULL,
	[diferencia_porcentual] [decimal](18, 2) NULL,
	[clasificacion_alertas] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[evento_extremo]    Script Date: 8/26/2025 5:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evento_extremo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pais_id] [int] NOT NULL,
	[tipo_evento] [varchar](255) NOT NULL,
	[fecha_inicio] [datetime] NOT NULL,
	[fecha_fin] [datetime] NOT NULL,
	[descripcion] [varchar](800) NULL,
	[impacto_estimado] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fuente_datos]    Script Date: 8/26/2025 5:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fuente_datos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_nombre] [varchar](255) NULL,
	[fuente_nombre] [varchar](255) NULL,
	[tipo_fuente] [varchar](255) NULL,
	[web] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Indicador]    Script Date: 8/26/2025 5:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Indicador](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pais_id] [int] NULL,
	[fuente_datos_id] [int] NULL,
	[id_nombre] [varchar](200) NULL,
	[unid_medida] [varchar](50) NULL,
	[categoria] [varchar](1) NULL,
	[evento_extremo_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[pais_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pais]    Script Date: 8/26/2025 5:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pais](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo_olc] [varchar](20) NULL,
	[pais_nombre] [varchar](100) NULL,
	[superficie] [int] NOT NULL,
	[poblacion] [bigint] NULL,
	[region] [varchar](50) NULL,
	[coord_UTM] [geometry] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo_olc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[pais_nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[registro_indicador]    Script Date: 8/26/2025 5:47:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registro_indicador](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pais_id] [int] NULL,
	[indicador_id] [int] NULL,
	[fuente_id] [int] NULL,
	[fecha] [datetime] NOT NULL,
	[valor] [decimal](18, 2) NULL,
	[observaciones] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[indicador_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[pais_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[desviaciones_indicadores]  WITH CHECK ADD FOREIGN KEY([registro_diario_indicador_id])
REFERENCES [dbo].[registro_indicador] ([id])
GO
ALTER TABLE [dbo].[desviaciones_indicadores]  WITH CHECK ADD  CONSTRAINT [FK_desviacion_registro] FOREIGN KEY([registro_diario_indicador_id])
REFERENCES [dbo].[registro_indicador] ([id])
GO
ALTER TABLE [dbo].[desviaciones_indicadores] CHECK CONSTRAINT [FK_desviacion_registro]
GO
ALTER TABLE [dbo].[evento_extremo]  WITH CHECK ADD  CONSTRAINT [FK_evento_pais] FOREIGN KEY([pais_id])
REFERENCES [dbo].[pais] ([id])
GO
ALTER TABLE [dbo].[evento_extremo] CHECK CONSTRAINT [FK_evento_pais]
GO
ALTER TABLE [dbo].[Indicador]  WITH CHECK ADD FOREIGN KEY([evento_extremo_id])
REFERENCES [dbo].[evento_extremo] ([id])
GO
ALTER TABLE [dbo].[Indicador]  WITH CHECK ADD FOREIGN KEY([fuente_datos_id])
REFERENCES [dbo].[fuente_datos] ([id])
GO
ALTER TABLE [dbo].[Indicador]  WITH CHECK ADD  CONSTRAINT [FK_indicador_evento] FOREIGN KEY([evento_extremo_id])
REFERENCES [dbo].[evento_extremo] ([id])
GO
ALTER TABLE [dbo].[Indicador] CHECK CONSTRAINT [FK_indicador_evento]
GO
ALTER TABLE [dbo].[Indicador]  WITH CHECK ADD  CONSTRAINT [FK_indicador_fuente] FOREIGN KEY([fuente_datos_id])
REFERENCES [dbo].[fuente_datos] ([id])
GO
ALTER TABLE [dbo].[Indicador] CHECK CONSTRAINT [FK_indicador_fuente]
GO
ALTER TABLE [dbo].[Indicador]  WITH CHECK ADD  CONSTRAINT [FK_indicador_pais] FOREIGN KEY([pais_id])
REFERENCES [dbo].[pais] ([id])
GO
ALTER TABLE [dbo].[Indicador] CHECK CONSTRAINT [FK_indicador_pais]
GO
ALTER TABLE [dbo].[registro_indicador]  WITH CHECK ADD  CONSTRAINT [FK_registro_fuente] FOREIGN KEY([fuente_id])
REFERENCES [dbo].[fuente_datos] ([id])
GO
ALTER TABLE [dbo].[registro_indicador] CHECK CONSTRAINT [FK_registro_fuente]
GO
ALTER TABLE [dbo].[registro_indicador]  WITH CHECK ADD  CONSTRAINT [FK_registro_indicador] FOREIGN KEY([indicador_id])
REFERENCES [dbo].[Indicador] ([id])
GO
ALTER TABLE [dbo].[registro_indicador] CHECK CONSTRAINT [FK_registro_indicador]
GO
ALTER TABLE [dbo].[registro_indicador]  WITH CHECK ADD  CONSTRAINT [FK_registro_pais] FOREIGN KEY([pais_id])
REFERENCES [dbo].[pais] ([id])
GO
ALTER TABLE [dbo].[registro_indicador] CHECK CONSTRAINT [FK_registro_pais]
GO
USE [master]
GO
